/* ==== 
 --------- (5.03) counter styles start ---------
 ==== */

.counter {
    .counter__single {
        padding: 35px 6px;
        background: linear-gradient(to bottom, #ff584a 0%, #ff938a 100%);
        text-align: center;
        border-radius: 15px;
        flex-grow: 1;
        width: 100%;
    }

    h5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cn-d {
        .odometer-digit {
            &:nth-last-of-type(1) {
                min-width: 20px;
            }
        }
    }

}

/* ==== 
 --------- (5.03) counter styles end ---------
 ==== */