/* ==== 
 --------- (5.01) partner styles start ---------
 ==== */

.partner {
    overflow-x: clip;
    direction: ltr;
    position: relative;
    top: -2px;
    margin-bottom: -2px;
    z-index: 2;

    .partner__single {
        img {
            max-width: 60%;
        }
    }

    .partner__inner {
        position: relative;
        z-index: 3;
        margin-top: 30px;

        &::before {
            content: '';
            position: absolute;
            inset-inline-start: 0px;
            inset-block: 0px;
            width: 8vw;
            height: 100%;
            min-height: 200px;
            top: -35px;
            background-image: linear-gradient(to right, #f3f3ea 50%, #f3f3ea30, #f3f3ea10);
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            inset-inline-end: 0px;
            inset-block: 0px;
            width: 8vw;
            height: 100%;
            min-height: 200px;
            top: -35px;
            background-image: linear-gradient(to left, #f3f3ea 50%, #f3f3ea30, #f3f3ea10);
            z-index: 2;
        }
    }

    .swiper-wrapper {
        transition-timing-function: linear !important;
        display: flex;
        align-items: center;

    }

    .swiper-slide {
        width: auto;
    }
}

/* ==== 
 --------- (5.01) partner styles end ---------
 ==== */