/* ==== 
 --------- (5.05) plan styles start ---------
 ==== */

.plan {
    .plan__output {
        padding: 50px 20px;
        background-color: transparent;
        border: 2px solid var(--black);
        border-radius: 30px;

    }

    .plan__output-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    .single-output {
        padding: 40px 20px;
        text-align: center;
        background-color: transparent;
        border: 2px solid var(--black);
        border-radius: 15px;
        flex-grow: 1;
        width: 100%;
    }

    .tooltip-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;

        i {
            font-size: 24px;
            margin-top: 2px;
        }
    }

    br {
        display: none;
    }

    .tooltip-inner {

        .tooltip-content {
            padding: 20px;
            background-color: #f1eded;
            border-radius: 12px;
            width: 100vw;
            max-width: 300px;
            border: 1px solid #00000016;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 9;
            transform: translateY(-50%) translateX(-45%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: var(--transition);
            text-align: start;

            i {
                cursor: pointer;
            }

            a {
                color: var(--primary-color);
            }

            p {
                font-size: 15px !important;
                line-height: 20px !important;
                font-weight: 500;
            }
        }

        &:hover {
            .tooltip-content {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }


    .plan__calculator {

        .tooltip-wrapper,
        .bbv {
            margin-bottom: 10px;
        }
    }


    .plan__output-footer {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            max-width: 27.5rem;
        }
    }

    .plan__output-cta {
        min-width: max-content;
    }

    .plan__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        position: relative;
        z-index: 9;

        .tooltip-inner {
            margin-top: 2px;
        }
    }

    .input-single {
        .tooltip-wrapper {
            justify-content: flex-start;
            display: flex;
            align-items: center;
            width: 100%;

            i {
                margin-top: -12px;
                cursor: pointer;
            }
        }

        input,.form__control {
            border-width: 2px !important;
            padding:1.11rem 1.5rem;
            font-size: 16px;
            background-color: transparent;
        }
    }

    .single-output {
        @media only screen and (max-width: 767px) {
            padding: 16px 20px 20px;

            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

}

/* ==== 
 --------- (5.05) plan styles end ---------
 ==== */