/* ==== 
 --------- (5.02) project styles start ---------
 ==== */

.project {

    .sub-title-wrapper {
        border-bottom: 1px solid var(--black);
        padding-bottom: 25px;
    }

    .project__content {
        p {
            max-width: 710px;
        }
    }

    .project__video {
        height: 100%;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 300px;
            max-height: 600px;
            border-radius: 5px;
        }
    }

}


/* ==== 
 --------- (5.02) project styles start ---------
 ==== */