/* ==== 
 --------- (5.07) strategy styles start ---------
 ==== */

.strategy {


    .thumb {
        width: 100%;

        img {
            width: 100%;
            border-radius: 30px;
            min-height: 300px;
        }
    }

    .strategy__footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.25rem;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .strategy__counter {
        min-width: 80px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--black);
        border-radius: 12px;

        h4 {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    .strategy__content {
        flex-grow: 1;
        max-width: 380px;
    }

    .strategy__cta {
        a {
            width: 54px;
            height: 54px;
            min-width: 54px;
            border: 1px solid var(--black);
            border-radius: 50%;
            font-size: 20px;
            color: var(--black);
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                width: 1.2rem;
            }

            &:hover {
                background-color: var(--primary-color);
                color: var(--white);
                border: 1px solid var(--primary-color);
            }
        }
    }

    .slider-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        margin-top: 30px;
    }

    .strategy__inner {
        margin-top: 40px;
    }

    .slider-btn {
        width: 45px;
        height: 45px;
        min-width: 45px;
        background-color: var(--black);
        color: var(--white);
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            width: 10px;
            transition: filter 0.2s ease;
            filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(109%) contrast(101%);
        }

        &:hover {
            background-color: var(--primary-color);
            color: var(--white);

            img {
                filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(109%) contrast(101%);
            }
        }
    }
}

/* ==== 
 --------- (5.07) strategy styles end ---------
 ==== */