/* ==== 
 --------- (5.06) success styles start ---------
 ==== */

.success {

    .success__hover {
        &:hover {
            .swiper-pagination-bullet-active {
                &::after {
                    animation-play-state: paused !important;
                }
            }
        }
    }

    .success__inner {
        padding: 40px 20px;
        background-color: var(--white);
        border-radius: 30px;


    }

    .success__content {
        p {
            max-width: 36.875rem;
        }
    }

    .tag {
        font-family: serif;
        font-weight: 900;
        font-size: 36px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 6px;

        &:nth-last-of-type(1) {
            margin-bottom: 0px;
        }
    }

    .success__video {
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            min-height: 340px;
            object-fit: cover;
            border-radius: 30px;
        }

    }

    .slider-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .slider-btn {
        width: 45px;
        height: 45px;
        min-width: 45px;
        background-color: var(--white);
        color: var(--black);
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
            width: 10px;
            transition: filter 0.2s ease;
        }

        &:hover {
            background-color: var(--black);
            color: var(--white);
             img {
        filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(109%) contrast(101%);
      }
        }
    }

    .success__cta {
        display: flex;
        align-items: center;
        gap: 120px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .success-pagination-wrapper {
        flex-grow: 1;
    }

    .success-pagination {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .swiper-pagination-bullet {
        margin: 0px !important;
        flex-grow: 1;
        height: 8px;
        border-radius: 0px;
        background-color: #ffffff30;
        opacity: 1 !important;
        min-width: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            inset: 0px;
            width: 0%;
            height: 100%;
            background-color: var(--white);
        }
    }

    .swiper-pagination-bullet-active {
        &::after {
            animation: slideProgress 5.8s linear;
            animation-play-state: running !important;
        }
    }

    .success__overview {
        padding: 40px 20px;
        background-color: var(--secondary-color);
        border-radius: 25px;

        .thumb {
            padding: 25px;
            background-color: var(--white);
            border-radius: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            min-width: 100px;
        }
    }

    .success__single-content {
        img {
            max-width: 120px;
        }
    }

    .success__overview-inner {
        display: flex;
        align-items: flex-start;
        gap: 3.125rem;
        row-gap: 1.5rem;
        flex-direction: column;
        justify-content: space-between;

        .content {
            flex-grow: 1;
            max-width: 420px;
        }

        .cta {
            min-width: max-content;
        }
    }

    .sc-left {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        flex-direction: column;
    }

    .btn-animated-text {
        font-size: 16px;

        &:hover {
            background-color: var(--white);

            color: var(--black) !important;
        }

        @media only screen and (min-width: 992px) {
            font-size: 20px;
        }
    }
}

@keyframes slideProgress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* ==== 
 --------- (5.06) success styles end ---------
 ==== */