/* ==== 
 --------- (5.08) transform styles start ---------
 ==== */

.transform {
    background-color: #FF584A;

    .tr-cn {
        h2 {
            margin-top: 0px;
        }
    }

    .transfrom__content {
        height: 100%;
        display: flex;
        gap: 12px;
        justify-content: space-between;
        flex-direction: column;

        h2 {
            max-width: 35.25rem;
        }
    }

    p {
        max-width: 50.25rem;
    }

    .partners {
        display: flex;
        align-items: center;
        gap: 1.375rem;
        flex-wrap: wrap;
        margin-top: 3.125rem;

        .partners-single {
            width: calc(50% - 0.69rem);
            height: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            border-radius: 5px;

            img {
                max-width: 50%;
            }
        }
    }

    .transform__form {
        padding: 40px 14px;
        background-color: var(--white);
        border-radius: 30px;
        height: 100%;

        .input-single {
            input {
                padding: 1.25rem 0.75rem;
                border-radius: 0.75rem;
                font-size: 1rem;
            }

            .multiSelect_arrow::before,
            .multiSelect_arrow::after {
                top: 1.8rem;
            }
        }

        .multiSelect_arrow {
            display: math;
        }
    }

    .transform__review {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;

        .review {
            display: inline-flex;
            align-items: center;
            gap: 3.5px;

            img {
                width: 1.25rem;
                height: 1.25rem;
                color: var(--black);
            }
        }

        p {
            max-width: 100%;
            margin: 0px;
        }
    }

    .btn-secondary {
        width: 100%;

        .btn-animated-text {
            padding-block: 22px;
        }
    }

    .select .current {
        color: #B2B2B2 !important;
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
    }

    .input-single {
        margin-bottom: 18px !important;
    }
}

.cmn-modal {
    .transform {
        background-color: transparent;

        .transform__form {
            max-width: 800px;
            margin-inline: auto;

            @media only screen and (max-width: 992px) {
                max-width: 500px;
            }
        }
    }

    .mfp-close {
        color: white !important;
        opacity: 1;
        position: fixed;
        top: 40px;
        right: 40px;

        @media only screen and (max-width: 767px) {
            top: 12px;
            right: 0px;
        }
    }

}

.mfp-container {
    padding-block: 80px 40px !important;
    overflow-y: auto;
}

.multiSelect_dropdown.-hasValue {
    .multiSelect_choice {
        margin-top: 1% !important;
    }
}

/* ==== 
 --------- (5.08) transform styles end ---------
 ==== */