/* ==== 
 --------- (5.09) wall styles start ---------
 ==== */

.wall {
    .love {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        img {
            max-width: 30px;
        }
    }

    .wall-slider {
        padding-inline: 2px;
    }

    .swiper-wrapper {
        padding-inline: 2px;
    }

    .wall__single {
        padding: 1.875rem 1.5rem;
        border: 1px solid var(--black);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        min-height: 18rem;
    }

    .wall__single-alt {
        padding-right: 0.375rem;

        .wall__footer {
            padding-right: 18px;
        }
    }

    .wall__footer {
        display: flex;
        align-items: center;
        gap: 6px;
        row-gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
            max-width: 7vw;
            min-width: 50px;
        }
    }

    .author__info {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
            width: 60px;
            height: 60px;
            min-width: 60px;
            border-radius: 50%;
        }
    }

    .review {
        display: inline-flex;
        align-items: center;
        gap: 3.5px;

        img {
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
            filter: brightness(0) saturate(100%) invert(83%) sepia(52%) saturate(5487%) hue-rotate(6deg) brightness(115%) contrast(103%);
        }
    }
}

/* ==== 
 --------- (5.09) wall styles end ---------
 ==== */