/* ==== 
 --------- (2.01) reset styles start ---------
 ==== */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  &::-moz-selection {
    color: #ffffff;
    background-color: #1770c8;
  }

  &::selection {
    color: #ffffff;
    background-color: #1770c8;
  }
}

html {
  overflow-x: clip;
  height: 100%;
  font-size: 0.833vw;
}

.page-wrapper {
  overflow-x: clip;
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  background-color: var(--template-bg);
  overflow-x: clip;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #cae6f7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}


button {
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

a,
button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline: 0px;
  border: 0px;
  transition: var(--transition);
  cursor: pointer;
  color: var(--template-color);

  i,
  span {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    border: 0px;
    outline: 0px;
  }

  &:focus {
    box-shadow: none;
    outline: 0px;
  }
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

hr,
blockquote,
textarea {
  margin: 0px;
  opacity: 1;
}

input,
textarea {
  border: 0px;
  outline: 0px;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: #ffffff;
  }
}

input {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="checkbox"] {
  width: initial;
  height: initial;
}

textarea {
  min-height: 150px;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

iframe {
  border: 0px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}

.round-15 {
  border-radius: 10px !important;
}

/* ==== 
 --------- (2.01) reset styles end ---------
 ==== */