/* ==== 
 --------- (2.02) typography styles start ---------
 ==== */

// paragraph styles
p,
th,
td,
li,
input,
textarea,
select,
label,
blockquote,
span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: var(--template-color);
}

.text-xs {
  font-size: 12px;
  line-height: 20px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 14px;
  line-height: 24px;
}

.text-xl {
  font-size: 15px;
  line-height: 24px;
}

.text-xxl {
  font-size: 15px;
  line-height: 24px;
}

.text-alter {
  font-size: 15px;
  line-height: 25px;
}

// link styles
a,
button {
  font-size: 14px;
  line-height: 24px;
}

// link styles
h1,
.title-lg {
  font-size: 20px;
  line-height: 30px;
}

.title-xl {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

  a,
  span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

.neutral-top {
  margin-block-start: -8px;
}





/* ==== 
 --------- (2.02) typography styles end ---------
 ==== */