/* ==== 
 --------- (1.01) mixins start ---------
 ==== */

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin respond($size) {
  $value: map-get($breakpoints, $size);

  @if $value ==null {
    @error "Breakpoint '#{$size}' not found in \$breakpoints map.";
  }

  @media (min-width: $value) {
    @content;
  }
}

@mixin sm {
  @include respond(sm) {
    @content;
  }
}

@mixin md {
  @include respond(md) {
    @content;
  }
}

@mixin lg {
  @include respond(lg) {
    @content;
  }
}

@mixin xl {
  @include respond(xl) {
    @content;
  }
}

@mixin xxl {
  @include respond(xx) {
    @content;
  }
}

@mixin xxl {
  @include respond(xxl) {
    @content;
  }
}



/* ==== 
 --------- (1.01) mixins end ---------
 ==== */