/* ==== 
 --------- (1.02) variables start ---------
 ==== */

:root {
  // font family
  --outfit: "Outfit", sans-serif;

  // template default
  --template-font: var(--outfit);
  --template-bg: #ffffff;
  --template-color: #ffffff;

  // colors
  --white: #ffffff;
  --black: #000000;
  --primary-color: #ff584a;
  --secondary-color: #0c013d;
  --tertiary-color: #f3f3ea;
  --quaternary-color: #fafafa;

  // transitions
  --transition: all 0.5s ease;
}


/* ==== 
 --------- (1.02) variables end ---------
 ==== */