@media only screen and (min-width: 576px) {}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-image-fill {
  font-weight: 900;
  background-image: url("../../assets/images/text-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  --x: 50%;
  --y: 20%;
  background-position: var(--x) var(--y);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.panel-wrapper {
  width: 100%;
}

.panel,
.horizontal-panel,
.horizontal-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
}

.panel__inner {
  padding-block: 100px;
  padding-inline: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &>* {
    width: 100%;
  }
}

.horizontal-wrapper {


  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
}

.panel-hero {

  .title-animation {
    opacity: 0;
    visibility: hidden;
    font-size: 15.875rem;
    line-height: 0.8;

    &>div {
      background-image: url("../../assets/images/text-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: var(--x) var(--y);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      opacity: 0;

      &:nth-last-of-type(1) {
        --x: 70%;
        --y: 80%;
      }
    }
  }

}

.panel-two {
  h1 {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 0.8;
    margin-bottom: 3.75rem;
    letter-spacing: -2.5px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }

    @media only screen and (max-width: 991px) {
      letter-spacing: -1px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 5.5rem;
      letter-spacing: 0px;
    }
  }

  .clip-text {
    font-weight: 900;
    background-image: url("../../assets/images/text-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    --x: 50%;
    --y: 20%;
    background-position: var(--x) var(--y);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.panel-three {
  h1 {
    font-size: 10.938rem;
    font-weight: 700;
    line-height: 0.87;
    letter-spacing: -7px;

    @media only screen and (max-width: 991px) {
      letter-spacing: -1px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 5.5rem;
      letter-spacing: 0px;
    }
  }
}


.panel-five {
  padding-block-start: 40px !important;
  h1 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 0.95;
    letter-spacing: -2.5px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }

    @media only screen and (max-width: 991px) {
      letter-spacing: -1px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 5.5rem;
      letter-spacing: 0px;
    }
  }

  .sticky-line {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }

  .mb-50 {
    margin-bottom: 50px;
  }

}

.fw-7 {
  font-weight: 700 !important;
}

.panel-six {
  p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 0.95;
  }
}