/* ==== 
 --------- (3.01) buttons styles start ---------
 ==== */
@use "../abstracts/mixins" as mix;
.btn-primary {
  gap: 0px;
  overflow: hidden;
  transition: 0.5s;

  .btn-animated-text {
    padding: 12px 24px 14px;
    background-color: transparent;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    position: relative;
    direction: ltr;
    width: 100%;
    border: 1px solid var(--black);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--black);
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: 500;
  }

  &:hover {
    .btn-animated-text {
      background-color: var(--primary-color);
      color: var(--white);
      border: 1px solid var(--primary-color);
    }
  }
}

.btn-secondary {
  gap: 0px;
  overflow: hidden;
  transition: 0.5s;

  .btn-animated-text {
    padding: 12px 24px 14px;
    background-color: var(--black);
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    position: relative;
    direction: ltr;
    width: 100%;
    border: 1px solid var(--black);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--white);
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: 500;
  }

  &:hover {

    .btn-animated-text {
      background-color: var(--primary-color);
      color: var(--white);
      border: 1px solid var(--primary-color);


    }
  }
}

.btn-tertiary {
  gap: 0px;
  overflow: hidden;
  transition: 0.5s;

  .btn-animated-text {
    padding: 12px 24px 14px;
    background-color: var(--primary-color);
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    position: relative;
    direction: ltr;
    width: 100%;
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--white);
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: 500;
  }

  &:hover {

    .btn-animated-text {
      background-color: var(--black);
      color: var(--white);
      border: 1px solid var(--black);


    }
  }
}
.btn{ 
    border-radius: 300px;
    font-weight: 500;
    @include mix.md{  
      font-size: 1.25rem;
      padding: 1.125rem 2rem;
    }
    font-size: 14px;
    padding:11px 20px; 
    &:hover{
      border: 1px solid transparent;
    }
    &.btn-dark{
      background-color: #000000;
      color: #fff;
      &:hover{
        background-color: #FF584A;
      }
    }
  &.btn-sm{

  }
}

/* ==== 
 --------- (3.01) buttons styles end ---------
 ==== */