/* ==== 
 --------- (3.02) forms styles start ---------
 ==== */

.input-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;

    .input-single {
        margin-bottom: 0px;
    }
}

.inc {
    position: relative;
    z-index: 9999999;
}

.input-single {
    width: 100%;
    margin-bottom: 24px;

    input,
    textarea,
    .form__control,
    .select {
        width: 100%;
        padding: 20px 12px;
        background-color: var(--white);
        border: 1px solid var(--black);
        color: var(--black);
        transition: var(--transition);
        border-radius: 12px;
        font-size: 16px;
        font-weight: 400;

        &:focus {
            border-color: var(--primary-color);
        }

        &::placeholder {
            color: #b2b2b2;
        }
    }

    textarea {
        min-height: 200px;
        border-radius: 16px;
    }

    .iti__flag {
        transform: scale(1.1);
    }

    .iti.iti--allow-dropdown.iti--show-flags {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid var(--black);
        border-radius: 12px;
    }

    .iti__selected-country-primary {
        padding-left: 12px;
        padding-right: 0px;
    }

    .iti .iti__selected-dial-code {
        font-size: 18px;
        font-weight: 400;
        color: var(--black);
        margin-left: 0px;
        position: relative;
        padding-right: 1.25rem;

        &::before {
            content: "\2335";
            font-size: 1rem;
            position: absolute;
            top: 50%;
            right: 0px;
            font-weight: 700;
            transform: translateY(-50%);
        }
    }

    .iti__country-container {
        position: relative !important;
    }

    .iti__arrow {
        display: none;
    }

    #phoneNumber {
        padding: 20px 12px 20px 0px !important;
        border: 0px;
    }

    .iti__country-name {
        color: var(--black) !important;
    }

    .iti__dropdown-content {
        width: 100% !important;
        min-width: max-content !important;
        border-radius: 12px !important;
        margin-left: 12px !important;
    }

    .iti--inline-dropdown .iti__country-list {
        max-height: 250px !important;
    }
}

.iti--fullscreen-popup {

    .iti__country-list .iti__flag,
    .iti__country-name {
        color: var(--black) !important;
    }

    .iti__search-input {
        padding-block: 20px !important;
        color: var(--black) !important;
        padding-inline-start: 40px;
    }

    .iti__search-input-wrapper {
        border-bottom: 1px solid #00000020;
    }

    .iti__search-icon {
        width: 40px;

        svg {
            width: 30px;
            height: 24px;
        }
    }
}

.select {
    background-color: transparent;
    float: unset;
    width: 100%;
    text-align: start !important;

    &::after {
        content: "\f0d7";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        top: 30%;
        right: 40px;
        font-weight: 700;
        width: 0px;
        height: 0px;
        margin: 0px;
        border: 0px;
        transform: translateY(-50%) !important;
    }

    .current {
        line-height: 1;
        color: #b2b2b2;
        opacity: 0.5;
        font-weight: 300 !important;
    }

    .option {
        min-height: auto;
        width: 100%;
        padding-block: 16px;
        color: var(--black);
        line-height: 1;
        text-align: start;
    }

    .current {
        color: white;
        line-height: 1;
        font-weight: 500;
    }

    .list {
        padding: 12px 0px;
        border: 1px solid #00000020;
        background-color: var(--white);
        width: 100%;

        .option {
            padding-inline: 30px;
        }
    }
}

.multiSelect {
    width: 100%;
    position: relative;
    z-index: 99999;
}

.multiSelect *,
.multiSelect *::before,
.multiSelect *::after {
    box-sizing: border-box;
}

.multiSelect_dropdown {
    font-size: 14px;
    border-radius: 12px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #444f5b;
    border: 1px solid var(--black);
    font-weight: 400;
    margin: 0;
    transition: 0.1s border-color ease-in-out;
    cursor: pointer;
    height: unset;
    min-height: 68px;
    padding-block: 16px;
    padding-inline: 24px;
}

.multiSelect_dropdown.-hasValue {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.multiSelect_dropdown.-open {
    box-shadow: none;
    outline: none;
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-radius: 20px;
    border-bottom: 8px solid var(--black);
    top: 32%;
    transition: all 0.15s ease;
}

.multiSelect_arrow::before {
    right: 24px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.multiSelect_arrow::after {
    right: 19px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.multiSelect_list {
    margin: 0;
    margin-top: -12px;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: 400px;
    top: unset !important;
    left: 0;
    z-index: 9999;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease, visibility 0.1s ease,
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    -webkit-transform: scale(0.8) translate(0, 4px);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid #d9dbde;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
    min-height: 120px;
}

.multiSelect_option {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
    transition: all 0.15s ease;
}

.multiSelect_option.-selected {
    display: none;
}

.multiSelect_option:hover .multiSelect_text {
    background: var(--primary-color);
    color: var(--white);
}

.multiSelect_text {
    cursor: pointer;
    display: block;
    padding: 12px 24px;
    color: #525c67;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all 0.15s ease;
}

.multiSelect_list.-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(0, 12px);
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.15s ease, visibility 0.15s ease,
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open+.multiSelect_arrow::before {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.multiSelect_list.-open+.multiSelect_arrow::after {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
    transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
    transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
    transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
    transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
    transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
    transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
    transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
    transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
    transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
    transition-delay: 100ms;
}

.multiSelect_choice {
    background: var(--primary-color);
    color: var(--white);
    padding: 3px 18px 4px;
    margin: 0px;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 6px;
}

.multiSelect_deselect {
    width: 12px;
    height: 12px;
    display: inline-block;
    stroke: var(--white) !important;
    stroke-width: 4px;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
    stroke: #fff !important;
}

.multiSelect_noselections {
    text-align: center;
    padding: 30px 7px;
    color: #b2bac3;
    font-weight: 450;
    margin: 0;
}

.multiSelect_placeholder {
    position: absolute;
    left: 24px;
    font-size: 24px;
    top: 17px;
    font-weight: 400;
    background-color: #fff;
    color: #b2b2b2;
    pointer-events: none;
    transition: all 0.1s ease;
    text-transform: capitalize;
    font-family: var(--outfit);
}

.multiSelect_dropdown.-open+.multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue+.multiSelect_placeholder {
    top: -14px;
    left: 26px;
    color: var(--black);
    font-size: 16px;
}

.multiSelect_dropdown.-hasValue+.multiSelect_placeholder {
    top: -14px;
    left: 26px;
    color: var(--black);
    font-size: 16px;
}

@media only screen and (max-width: 575px) {
    .multiSelect_dropdown {
        min-height: 66px;
        padding-block: 16px;
        padding-inline: 12px;
    }

    .multiSelect_placeholder {
        left: 12px;
        font-size: 16px;
        top: 17px;
    }
}
.form__control,.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right .85rem center;
} 
/* ==== 
 --------- (3.02) forms styles end ---------
 ==== */ 

