/* ==== 
 --------- (3.05) widgets styles start ---------
 ==== */

// social
.social {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  a {
    font-size: 18px;
    color: var(--black);
    background-color: var(--white);
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    img {
      transition: filter 0.2s ease;
    }

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      border-color: var(--primary-color);
      img {
        filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(109%) contrast(101%);
      }
    }
  }
}

// sponsor styles
.footer__brand-single {
  a {
    transition: var(--transition);
    padding: 16px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 121px;
  }

  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease;
    max-width: 70%;
  }

  &:hover {
    a {
      background-color: var(--white);
    }

    img {
      filter: brightness(0) saturate(100%) invert(54%) sepia(60%) saturate(3787%) hue-rotate(329deg) brightness(98%) contrast(106%);
    }
  }
}

// blog widget
.blog__single {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #F3F3F3;

  .thumb {

    a,
    img {
      width: 100%;
      min-height: 150px;
      border-radius: 16px;
    }
  }

  .content {
    p {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;

      span {
        color: #5E5E5E;
      }
    }

    h4 {
      a {
        display: inline-block;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

// footer widget
.footer__widget {
  .footer__widget-contact-list {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:nth-last-of-type(1) {
      align-items: flex-start;
    }
  }

  .footer__widget-contact-thumb {
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
    background-color: var(--primary-color);
    border-radius: 0.313rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1.25rem;
      color: var(--white);
    }
  }

  .footer__widget-contact-content {
    a {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .footer__widget-map {
    border-radius: 5px;
    margin-top: 30px;

    iframe {
      border-radius: 5px;
      width: 100%;
      height: 12.5rem;
      min-height: 240px;
    }
  }

  .footer__widget-nav {
    li {
      margin-bottom: 15px;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }

    a {
      &:hover {
        color: var(--primary-color);
        padding-inline-start: 6px;
      }
    }
  }


}


/* ==== 
 --------- (3.05) widgets styles end ---------
 ==== */