/* ==== 
 --------- (4.02) banner styles start ---------
 ==== */
.hero {
    padding-block: 120px 50px;
    background-color: var(--white);
    position: relative;
    z-index: 1;
    overflow: clip;

    .video-bg {
        position: absolute;
        inset: 0px;
        width: calc(100% - 0.6px);
        height: calc(100% - 0.6px);
        bottom: -2px;
        z-index: -1;
        right: -3px !important;
        border: 0px !important;
        outline: 0px !important;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 0px !important;
            outline: 0px !important;
        }
    }

    h1 {
        max-width: 300px;
        margin-inline: auto;
        line-height: 1.3;
    }

    p {
        text-transform: none !important;
        max-width: 78.125rem;
        margin-inline: auto;
    }

    .hero__cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .hero__review {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;

        .review {
            display: inline-flex;
            align-items: center;
            gap: 3.5px;

            img {
                width: 1.25rem;
                height: 1.25rem;
                color: var(--black);
            }
        }

        p {
            max-width: 100%;
            margin: 0px;
        }
    }
}

/* ==== 
 --------- (4.02) banner styles end ---------
 ==== */