/* ==== 
 --------- (4.01) header styles start ---------
 ==== */


.header {
    z-index: 99;
    background-color: transparent;
    padding-block: 25px;
    position: absolute;
    inset-inline: 0px;
    top: 0px;
    transition: padding 0.3s ease;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .navbar-logo {
        line-height: 0px;

        a {
            line-height: 0px;
        }

        img {
            max-width: 130px;
            height: auto;
        }
    }

    .navbar__menu {
        flex-grow: 1;
        position: relative;
    }

    .navbar__list {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        padding-inline: 4px;
        position: relative;
        border: 1px solid #00000020;
        

        &::before {
            content: '';
            position: absolute;
            inset: 0px;
            border-radius: 50px;
            background: hsla(0, 0%, 100%, .7);
            backdrop-filter: blur(8px);
            animation: replace-bg .6s ease-in-out;
            transition: background-color .15s ease-in-out;
        }

        li {
            line-height: 0px;
        }
    }

    .navbar__item {
        overflow: hidden;
        border-radius: 50px;

        a,
        button {
            font-weight: 600;
            text-transform: capitalize;
            padding-block: 11px 13px;
            padding-inline: 20px;
            font-size: 14px;
            width: 100%;
            line-height: 1;
            letter-spacing: 1px;
            color: var(--black);
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            border-block: 4px solid transparent;

            &:hover {
                color: var(--black);
            }
        }
    }

    .active>a,
    .active>button {
        background-color: var(--black);
        color: var(--white);
        border: 0px !important;

        &:hover {
            color: var(--white);
        }
    }

    .navbar__menu-wrapper {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
        z-index: 1;
    }

    .navbar__options {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .navbar__mobile-options {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;


    }

    .btn-animated-text {
        font-size: 14px;
        padding-inline: 24px;
    }



    .navbar__hover-bg {
        position: absolute;
        top: 4px;
        left: 0;
        height: calc(100% - 8px);
        width: 0;
        background-color: #0f1d07;
        opacity: .05;
        border-radius: 30px;
        transition: all 0.15s ease;
        pointer-events: none;
    }

    .megamenu-wrapper {
        &:hover {
            .megamenu-inner {
                pointer-events: all;
                opacity: 1;
                visibility: visible;
                height: 360px;
                padding-block: 40px 80px;
                padding-inline: 24px;
                border-radius: 20px;
                background-color: var(--white);
                box-shadow: 0 4px 4px rgba(0, 0, 0, .05);
            }

            .mega__content {
                opacity: 1;
                width: auto;
            }
        }

        p {
            letter-spacing: 1px;
        }
    }

    .megamenu-inner {
        position: absolute;
        inset-inline: 0px;
        inset-block-end: 0px;
        width: 100%;
        background-color: transparent;
        visibility: hidden;
        z-index: -1;
        border-radius: 50px;
        height: 52px;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(.86, 0, .07, 1);
        overflow: hidden;

        li {
            margin-bottom: 16px;

            &:nth-last-of-type(1) {
                margin-bottom: 0px;
            }
        }

        a {
            font-size: 15px !important;
            color: #7f7f7f !important;
            padding: 0px !important;
            font-weight: 500 !important;
            letter-spacing: 0.7px;
            line-height: 24px;


            img {
                object-fit: contain;
                width: auto;
                height: auto;
                padding-inline-start: 2px;
            }

            &:hover {
                color: #000000 !important;
            }
        }
    }

    .mega__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        opacity: 0;
        width: auto;
        transition: width cubic-bezier(.86, 0, .07, 1) 0.4, opacity ease-in-out 0.1;
        transition-delay: 0.2s;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .header {

        .navbar__menu-wrapper {
            max-width: calc(100% - 20p);
        }

        .navbar__item {

            a,
            button {
                padding-inline: 10px;
                font-size: 10px;
                padding-block: 10px;
            }
        }
    }

}

@media only screen and (max-width: 400px) {
    .header {
        .navbar {
            gap: 12px;
        }

        .navbar-logo {
            img {
                max-width: 110px;
            }
        }

        .navbar__mobile-options {
            .btn-primary {
                .btn-animated-text {
                    font-size: 14px;
                    padding-inline: 16px;
                }
            }
        }

    }

}


@keyframes replace-bg {
    0% {
        background: #fff;
    }

    50% {
        background: #fff;
    }

    100% {
        background: hsla(0, 0%, 100%, .7);
    }
}

/* ==== 
 --------- (4.01) header styles end ---------
 ==== */